﻿<!doctype html>
<html lang="en">
<head>
    <title>Lion Forums</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/home.css">
</head>
<body>

    <div class="trial d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(../img/logo.jpg);"></a>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Upcoming Schedules</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Upcoming Schedules 1</a>
                            </li>
                            <li>
                                <a href="#">Upcoming Schedules 2</a>
                            </li>
                            <li>
                                <a href="#">Upcoming Schedules 3</a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#categorySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categories</a>
                        <ul class="collapse list-unstyled" id="categorySubmenu">
                            <li>
                                <a href="#">Category 1</a>
                            </li>
                            <li>
                                <a href="#">Category 2</a>
                            </li>
                            <li>
                                <a href="#">Category 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#forumSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Forum</a>
                        <ul class="collapse list-unstyled" id="forumSubmenu">
                            <li>
                                <a href="#">Forum 1</a>
                            </li>
                            <li>
                                <a href="#">Forum 2</a>
                            </li>
                            <li>
                                <a href="#">Forum 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#groupSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Group</a>
                        <ul class="collapse list-unstyled" id="groupSubmenu">
                            <li>
                                <a href="#">Group 1</a>
                            </li>
                            <li>
                                <a href="#">Group 2</a>
                            </li>
                            <li>
                                <a href="#">Group 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <h1 class="mb-4">Lion Forums</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h2>Your Upcoming Schedules</h2>
            <div class="slider owl-carousel">
                <div class="card">
                    <h5 class="card-header">Name 1</h5>
                    <div class="content">
                        <div class="title">
                            Briana Tozour
                        </div>
                        <div class="sub-title">
                            Graphic Designer
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
                        </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Name 2</h5>
                    <div class="content">
                        <div class="title">
                            Pricilla Preez
                        </div>
                        <div class="sub-title">
                            Web Developer
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
                        </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <h5 class="card-header">Name 3</h5>
                    <div class="content">
                        <div class="title">
                            Eliana Maia
                        </div>
                        <div class="sub-title">
                            App Developer
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
                        </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container p-4 p-md-5">
            <h4>Currently Trending Forums</h4>
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="content">
                    <div class="title">
                        Eliana Maia
                    </div>
                    <div class="sub-title">
                        App Developer
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit modi dolorem quis quae animi nihil minus sed unde voluptas cumque.
                    </p>
                    <div class="btn">
                        <button>Read more</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(".slider").owlCarousel({
            loop: true,
            autoplay: true,
            autoplayTimeout: 2000, //2000ms = 2s;
            autoplayHoverPause: true,
        });
    </script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>